include partials/galleryHeader.pug
body
.main-wrapper
 nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        img(alt='DWE DESIGNS', src='')
  .container
    .row
    -
     articles.forEach((article) => {
     .col
       h1 articles.title
        h2 article.author
        img
        | articles.image
        p2 articles.description
        p  article.body
     })

    include partials/footer.pug
