include partials/galleryHeader.pug
body
.main-wrapper
 nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        img(alt='DWE DESIGNS', src='')
  .container
    .row
      .col
        | 1 of 1
      .col
        | 2 of 1
      .col
        | 3 of 1
      .col
        | 4 of 1
      .col
        | 5 of 1
    .row
      .col
        | 1 of 2
      .col
        | 2 of 2
      .col
        | 3 of 2
      .col
        | 4 of 2
      .col
        | 5 of 2
    .row
      .col
        | 1 of 3
      .col
        | 2 of 3
      .col
        | 3 of 3
      .col
        | 4 of 3
      .col
        | 5 of 3

    include partials/footer.pug
